.forecast-chart-wrapper {
  background-color: rgba(5, 1, 31, 0.696);
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;

  .recharts-cartesian-grid-horizontal line {
    stroke: #ab81b540;
    stroke-dasharray: 0;
  }

  .recharts-legend-item text {
    fill: #ffffff;
    font-weight: 300;
    font-size: 13px;
  }

  .recharts-y-axis .recharts-cartesian-axis-tick-value,
  .recharts-x-axis .recharts-cartesian-axis-tick-value {
    fill: #ffffff;
    font-size: 13px;
  }
}
